<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homeStyles.css">
    <title>Document</title>
</head>
<body>
    <form id="form" method="post" >
        <label>your name</label>
        <input name="username" type="text"><br>
        <br>
        <label>type your message</label>
        <input name="msgTxt" type="text"><br>
        <br>
        <button id="btn">submit</button>
    </form>
    <footer>
        <a href="/">home</a>
   </footer>
</body>
</html>
